
<script>
	export let distanceUnit;
	// export let moneyUnit;

	let isOpen = true;

	function handleClose(e) {
		isOpen = !isOpen
	}
</script>

{#if isOpen}
	<article class="message is-info">
		<div class="message-header">
			<p>About</p>
			<button class="delete" aria-label="delete" on:click={handleClose}></button>
		</div>
		<div class="message-body">
			<p>
				Use this niffty little calculator tool to do something like figure out how many {distanceUnit}s you need to avoid traveling in some old (presumably inefficient or polluting) device
				and replace with {distanceUnit}s travelled (or just completely avoided maybe) via some new device/mode before the expense to purchace said new thing would be justified.
			</p>
			<p>
				And/or how long it would take to justify if you dodge x amount of use per year.
			</p>
			<p>
				In other words, it's a cost benefit analysis tool, but aimed specifically at situations where you might be deciding between say a used Prius, a new Tesla, or just sticking with your reliable but rather inefficient old family minivan - Whether you should get an ebike or a bus pass maybe. That kind of thing.
			</p>
		</div>
	</article>
{/if}
