<script>
	import Units from './Units.svelte';
	import AboutInfo from './AboutInfo.svelte';
	import Calc from './Calc.svelte';

	let distanceUnit = 'mile';
	let moneyUnit = '$';
</script>

<section class="hero is-primary is-small is-bold">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		<nav class="navbar">
			<div class="container">
				<Units bind:selectedDistanceUnit={distanceUnit} bind:selectedMoneyUnit={moneyUnit} />
			</div>
		</nav>
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Kill Your Car
			</h1>
			<h2 class="subtitle">
				conventional ICE transportation dodge justify-er
			</h2>
		</div>
	</div>

</section>
<section class="section">
	<div class="container">
		<AboutInfo distanceUnit={distanceUnit} />
		<!-- <p>hhee eh</p> -->
		<Calc moneyUnit1={moneyUnit} distanceUnit1={distanceUnit} />

	</div>
</section>
