
<script>
	export let distanceUnit1;
	export let moneyUnit1;

	let yearsOwned = 1 // length of ownership (needed because of annual costs associated with some things)
	let costToBuy = 2000 // the intial purchange expense - this is really the big thing that needs to be justified
	let annualCostOfOwnership = 50 // includes things like licensing/registration, periodic maintenance costs, parking/storage fees etc. this is going to be an estimate

	let oldCostPerDistanceUnit = 0.25 // unleaded @ ~2.50 USD / gal with vehicle that gets ~ 20 mpg and not factoring other use costs (~2.50/20 = 0.125)  - or could use something like standard DOT milage rate (~.50 USD)
	let newCostPerDistanceUnit = 0.1 // presumably would be less than oldCost -  might be zero if the dodge is avoiding the trip or if travel has no meaningful cost (ex. walking)
	let distanceUnitsDodged = 2000 // your bike, scooter, or pedometer may have an odometer that helps you with this?

	let isJustified = false
	let messageHtml = "<p>Nothing yet.<p><p>You need to 'Crunch the numbers' before anything useful shows up here.</p>"

	function crunchTheNumbers(ev) {
		console.log('CrunCH, CrunCH, CrunCH!');

		let cost = costToBuy + (annualCostOfOwnership * yearsOwned)

		let savings = distanceUnitsDodged * (oldCostPerDistanceUnit - newCostPerDistanceUnit)

		isJustified = (savings > cost)

		messageHtml = `<p>with a cost of ${moneyUnit1} ${cost} and a savings of ${isJustified ? '' : 'only '} ${moneyUnit1} ${savings} ....</p>`
		if (isJustified) {
			messageHtml += '<h3>Do It!</h3>'
		} else {
			messageHtml += '<h3>Maybe it is not quite worth it.</h3>'
		}
	}
</script>

<style>

</style>


<form on:submit|preventDefault="{crunchTheNumbers}">
	<div class="tile is-ancestor">
		<div class="tile is-8 is-vertical is-parent">
			<fieldset class="tile is-child box">
				<p class="title">The new thing:</p>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="costToBuy">
							Cost To Purchace / Start
						</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left">
								<input type="number" class="input" bind:value={costToBuy} name="costToBuy" min="0" />
								<span class="icon is-small is-left">
									{moneyUnit1}
								</span>
							</p>
						</div>
						<div class="field">
							<p class="control is-expanded">
								<input type="range" bind:value={costToBuy} min="10" max="100000" step="10" />
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="annualCostOfOwnership">
							Annual Cost of Ownership
						</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left">
								<input type="number" class="input" bind:value={annualCostOfOwnership} name="annualCostOfOwnership" min="0" />
								<span class="icon is-small is-left">
									{moneyUnit1}
								</span>
							</p>
						</div>
					</div>
				</div>
				<div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="yearsOwned">Years Owned</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded">
								<input type="number" class="input" bind:value={yearsOwned} name="yearsOwned" min="0">
							</p>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="tile is-child box">
				<p class="title">Efficiency difference:</p>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="oldCostPerDistanceUnit">
							Old mode of transport's cost per {distanceUnit1}
						</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left">
								<input type="number" class="input" bind:value={oldCostPerDistanceUnit} name="oldCostPerDistanceUnit" min="0" step="0.01">
								<span class="icon is-small is-left">
									{moneyUnit1}
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="newCostPerDistanceUnit">
							New transport dodge cost per {distanceUnit1}
						</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded has-icons-left">
								<input type="number" class="input" bind:value={newCostPerDistanceUnit} name="newCostPerDistanceUnit" step="0.01">
								<span class="icon is-small is-left">
									{moneyUnit1}
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="distanceUnitsDodged">
							{distanceUnit1}(s) Dodged
						</label>
					</div>
					<div class="field-body">
						<div class="field">
							<p class="control is-expanded">
								<input type="number" class="input" bind:value={distanceUnitsDodged} name="distanceUnitsDodged" min="0">
							</p>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label">
						<!-- Left empty for spacing -->
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit">
									Crunch the numbers
								</button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="tile is-4 is-vertical is-parent">
			<div class="tile is-child notification {isJustified ? 'is-primary' : 'is-warning'}" >
				<p class="title">Result:</p>
				{@html messageHtml}
			</div>
		</div>
	</div>
</form>


