
<script>

	let distanceUnits = [
		'miles',
		'km'
	];
	let currencyUnits = [
		'$', '₿', '£', '€', '¥'
	]
	export let selectedDistanceUnit;
	export let selectedMoneyUnit;
	let isMenuOpen = false;

	function handleMenuClick(e) {
		isMenuOpen = !isMenuOpen
	}
</script>


<div class="navbar-brand">
	<span class="navbar-burger burger {isMenuOpen ? 'is-active' : ''}" on:click={handleMenuClick}>
		<span></span>
		<span></span>
		<span></span>
	</span>
</div>
<div class="navbar-menu {isMenuOpen ? 'is-active' : ''}">
	<div class="navbar-end">
		<span class="navbar-item">
			<div class="select is-primary">
				<select bind:value={selectedDistanceUnit} name="unitPicker" class="input" title="distance unit">
					{#each distanceUnits as unit}
						<option>{unit}</option>
					{/each}
				</select>
			</div>
		</span>
		<span class="navbar-item">
			<div class="select is-primary">
				<select bind:value={selectedMoneyUnit} class="input" name="unitPicker2" title="monetary unit">
					{#each currencyUnits as unit}
						<option>{unit}</option>
					{/each}
				</select>
			</div>
		</span>
		<span class="navbar-item">
			<a class="button is-primary is-inverted" href="https://gitlab.com/aeischeid/car-kill-calculator">
				<span class="icon">
					<i class="fab fa-gitlab"></i>
				</span>
				<span>Source</span>
			</a>
		</span>
	</div>
</div>


